<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firebasetutorial">

    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.FirebaseTutorial"
        tools:node="merge"
        tools:replace="android:supportsRtl">

        <activity android:name=".activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_login"
            android:launchMode="singleTop" />
        <activity
            android:name=".manager.manager_activities.activity_history"
            android:launchMode="singleTop" />
        <activity
            android:name=".manager.manager_activities.activity_mng_verify_phone"
            android:launchMode="singleTop" />
        <activity
            android:name=".manager.manager_activities.activity_follow_attendance"
            android:launchMode="singleTop" />
        <activity
            android:name=".manager.manager_activities.activity_follow_attentive"
            android:launchMode="singleTop" />
        <activity
            android:name=".manager.manager_activities.activity_mhome"
            android:launchMode="singleTop" />
        <activity
            android:name=".employee.employee_activities.activity_ehome"
            android:launchMode="singleTop" />
        <activity
            android:name=".employee.employee_activities.activity_request_history"
            android:launchMode="singleTop" />
        <activity
            android:name=".employee.employee_activities.activity_request"
            android:launchMode="singleTop" />
        <activity
            android:name=".employee.employee_activities.activity_emp_verify_phone"
            android:launchMode="singleTop" />
        <activity
            android:name=".employee.employee_activities.activity_random_question"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_admin_profile"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".admin.admin_activities.activity_employee"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_manager"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_admin_attendance"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_create_department"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_department"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_create_accounts"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_update_department"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".admin.admin_activities.activity_admin_home"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_admin_request"
            android:launchMode="singleTop" />
        <activity
            android:name=".admin.admin_activities.activity_update_staff"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>